<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="padding-top: 20px;">My Tickets</h1>
    <p class="lead">Tickets created on the Marketing Service Center.</p>
</div>

<div class="container">
    <div *ngFor="let item of dataSource" class="card-deck mb-3 text-center">
        <div  class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{item.position}}</h4>
            </div>
            <div class="card-body">
                {{item.description}}
            </div>
        </div>

       
    </div>
    <div *ngIf="dataSource?.length==0" class="mx-auto text-center">
        <p class="lead">You don't have any ticket.</p>
    </div>
</div>

<div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="addTicket()">Create Ticket</button>
</div>