<p>ticket works!</p>

<!-- 
<div class="form-label-group">
    <input type="text" id="inputTicketDescription" name="ticketDescription" [(ngModel)]="ticketDescription"
        class="form-control" placeholder="Please, enter the ticket description." required autofocus>
    <label for="inputTicketDescription">Please, enter the ticket description.</label>
</div>

<div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="createTicket()">Create Ticket</button>
</div>

<div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="getTickets()">My Tickets</button>
</div>

<li *ngFor="let ticket of tickets">
    <span class="badge">{{ticket._id}}</span> {{ticket.description}} <a (click)="removeTicket(ticket._id)">Remove
        Ticket</a>
</li> --->